# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Private medical/audio datasets
input/
data/
*.wav
*.mp3
*.m4a
*.flac
*.aac
*.ogg
*.xlsx


checkpoints/
models/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Excel temporary files
~$*.xlsx
